<ion-row class="ion-align-items-center row-col">
  <ion-col class="col-item" *ngFor="let col of columns" [size]="col.size">
    <div *ngIf="col.type !== 'buttons'">{{ col.type === 'date' ? (room[col.key] | date:'dd/MM/yy') : room[col.key]
      }}</div>
    <div *ngIf="col.type === 'buttons'" class="btns">
      <ion-button size="small" class="ion-no-margin" expand="block" fill="clear" (click)="copyLink()">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" class="ion-no-margin" expand="block" fill="clear" (click)="editRoom()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" class="ion-no-margin" expand="block" fill="clear" (click)="deleteRoom()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" class="ion-no-margin" expand="block" fill="clear" (click)="downloadFoto()">
        <ion-icon name="images-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" class="ion-no-margin" expand="block" fill="clear" (click)="enterRoom()">
        <ion-icon name="enter-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-col>
</ion-row>