<ion-row class="footer">
  <ion-col size="1" class="page-btn" offset="3">
    <ion-button fill="clear" (click)="goFirst()">
      <ion-icon color="primary" size="small" name="play-back" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="1" class="page-btn">
    <ion-button fill="clear" (click)="prevPage()">
      <ion-icon color="primary" size="small" name="chevron-back" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="2" class="page-btn-number ion-margin-vertical">
    <div>{{ page + 1 }} of {{ totalPages }}</div>
  </ion-col>
  <ion-col size="1" class="page-btn">
    <ion-button fill="clear" (click)="nextPage()">
      <ion-icon color="primary" size="small" name="chevron-forward" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="1" class="page-btn">
    <ion-button fill="clear" (click)="goLast()">
      <ion-icon color="primary" size="small" name="play-forward" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>