.container {
  height: 100%;
}
.data-container {
  height: 100%;
  background-color: var(--ion-color-dark-tint);
}
.coord-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  .geo-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-light-shade);
    color: var(--ion-color-dark-tint);
    font-size: 10px;
    padding: 2px 4px;
    width: 25vw;
  }
  .btns {
    display: flex;
    flex-direction: row;
  }
}
.backTitle {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  .title {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--ion-color-dark-tint);
    transform: translateY(-3px);
    word-wrap: break-word;
    word-break: break-all;
  }
}
.btn-trasparent {
  color: var(--ion-color-light-shade);
  --background: none;
  text-transform: lowercase;
}
.info-area {
  padding: 5%;
  position: relative;
  transition: all 0.5s;
  background: var(--ion-color-dark-tint);
  .nome-note {
    word-break: break-all;
    word-wrap: break-word;
    .pen-update {
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 2%;
      z-index: 999;
    }
    .data-bold {
      color: var(--ion-color-light);
      background: var(--ion-color-dark-tint);
      padding: 2%;
      font-weight: 600;
      word-break: break-all;
      word-wrap: break-word;
    }
    .nota {
      color: var(--ion-color-light);
      background: var(--ion-color-dark-tint);
      padding: 2%;
      margin-top: -6%;
      font-weight: 200;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}

.form {
  color: var(--ion-color-light);
  background: var(--ion-color-dark-tint);
  ion-input {
    color: var(--ion-color-light);
    word-break: break-all;
    word-wrap: normal;
  }
  ion-label {
    color: var(--ion-color-light) !important;
  }
  ion-item {
    margin-top: 4px;
    color: var(--ion-color-light);
    --background: var(--ion-color-dark-tint);
    --highlight-height: 0;
    align-items: center;
    word-break: break-all;
    word-wrap: normal;
  }
}

.map-mobile {
  height: 80vh;
  width: 100vw;
}

/* DESKTOP */

.backTitle-desk {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--ion-color-primary);
  .title-desk {
    color: var(--ion-color-light);
  }
}

.btns-desk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  p {
    text-transform: none;
  }
}
.info-area-desk {
  padding: 5%;
  position: relative;
  transition: all 0.5s;
  .data-bold {
    padding: 2%;
    font-weight: 600;
    word-break: break-all;
    word-wrap: break-word;
  }
  .data-thin {
    color: var(--ion-color-medium);
    font-weight: 200;
    word-break: break-all;
    word-wrap: break-word;
  }
  .nota {
    padding: 2%;
    margin-top: -6%;
    font-weight: 200;
    word-wrap: break-word;
    word-break: break-all;
  }
  .pen-update-desk {
    float: right;
    padding-right: 2%;
    z-index: 999;
  }
}

.image-map-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  .map {
    padding-left: 5px;
    padding-right: 5px;
    flex: 4;
  }
  .image-desk {
    flex: 3;
    transition: all 0.5s;
  }
}

@media only screen and (min-width: 600px) {
  .image {
    width: 50%;
    margin: 0 auto;
  }
  .coord-btns {
    .geo-data {
      font-size: 12px;
      padding: 2px 4px;
      width: 10vw;
    }
  }
}
