<p>Remote</p>
<video
  #output_video
  width="320"
  height="240"
  [autoplay]="true"
  controls="controls"
  playsinline
></video>
<div>
  <ion-button color="tertiary" (click)="startFlvPlayer()">Start Player</ion-button>
  <ion-button color="primary" (click)="stopFlvPlayer()">Stop Player</ion-button>
  <!-- <ion-button color="medium" (click)="startLocalVideo()"
          >Start Local Video</ion-button
        >
        <ion-button color="medium" (click)="stopLocalVideo()"
          >Pause Local Video</ion-button
        > -->
</div>
