<!-- Searchbar -->
<div class="searchbarAdd">
  <ion-searchbar class="search-bar" (ionInput)="searchStream$.next($event.target.value)"></ion-searchbar>
  <!-- Create Commission Button -->
  <ion-button color="secondary" (click)="createCommission()">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
</div>

<!-- Desktop -->
<ion-content class="ion-hide-md-down">
  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Commissions Table -->
  <app-generic-table [inputDatas$]="commissions$" [columns]="columns" [desktopItem]="desktopItem">
    <ng-template #desktopItem let-data='data'>
      <!-- Commissions Table Item -->
      <app-commission-table-item [commission]="data" [columns]="columns"></app-commission-table-item>
    </ng-template>
  </app-generic-table>
</ion-content>

<!-- Mobile -->
<ion-content class="ion-hide-md-up">
  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Commissions List -->
  <app-generic-list [inputDatas$]="commissions$" [mobileItem]="mobileItem">
    <ng-template #mobileItem let-data='data'>
      <!-- Commissions List Item -->
      <app-commission-list-item [commission]="data"></app-commission-list-item>
    </ng-template>
  </app-generic-list>
</ion-content>