<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/rooms"></ion-back-button>
    </ion-buttons>
    <ion-title>Modifica Room</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Reactive Form -->
<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col  size-sm="6" offset-sm="3">
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">
              <ion-text color="primary"><h1>{{ room.nome_progetto }}</h1></ion-text>
              <ion-text color="primary"><h4>Id: {{ room.id }}</h4></ion-text>
              <ion-text color="primary"><h4>Data creazione: {{ room.data_inserimento | date:'dd MMMM yyyy' }}</h4></ion-text>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">USERMOBILE</ion-label>
            <ion-input formControlName="usermobile" type="text" autocomplete autocorrect></ion-input>
            <ion-icon name="pencil-outline" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">NOME PROGETTO</ion-label>
            <ion-input formControlName="nome_progetto" type="text" autocomplete autocorrect></ion-input>
            <ion-icon name="pencil-outline" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">COLLAUDATORE</ion-label>
            <ion-input formControlName="nome_collaudatore" type="text" autocomplete autocorrect></ion-input>
            <ion-icon name="pencil-outline" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">DATA INSERIMENTO</ion-label>
            <ion-datetime formControlName="data_inserimento" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size="6" size-sm="3" offset-sm="3">
          <ion-button type="button" color="primary" expand="block" shape="round" fill="outline" (click)="onDownload()">Download Foto
          </ion-button>
        </ion-col>
        <ion-col size="6" size-sm="3">
          <ion-button type="button" color="danger" expand="block" shape="round" fill="outline" (click)="onDelete()">Elimina Progetto
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size-sm="6" offset-sm="3">
          <ion-button [disabled]="!form.valid" type="submit" color="primary" expand="block" shape="round" (click)="onSave()">Salva</ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button 
          color="primary" 
          expand="block" 
          shape="round" 
          [disabled]="!form.valid" 
          (click)="onSave()">{{ isEditMode ? 'Salva' : 'Crea'}}</ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </form>
</ion-content>