<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/projects"></ion-back-button>
    </ion-buttons>
    <ion-title>Progetto: {{ loadedProject.nome_progetto }}</ion-title>
    <ion-buttons slot="primary">
      <!-- <ion-button (click)="onEditProject()">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button> -->
      <ion-button (click)="onDeleteProject()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <h2>{{ loadedProject.nome_progetto }} ({{ loadedProject.usermobile }})</h2>
          <p> ID: {{loadedProject.id}} 
              - USERMOBILE: {{ loadedProject.usermobile }}
              - COLLUDATORE: {{ loadedProject.nome_collaudatore}} 
              - DATA: {{ loadedProject.data_inserimento | date:'MM/dd/yy, hh:mm:ss'}}
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>