<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/projects"></ion-back-button>
    </ion-buttons>
    <ion-title>Progetto: {{ loadedProject.progetto }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onEditProject()">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onDeleteProject()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <h3>Usermobile: {{ loadedProject.usermobile }}</h3>
          <h3>LinkProgetto: {{ loadedProject.linkprogetto }}</h3>
          <h3>Collaudatore: {{ loadedProject.collaudatore }}</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>