<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/rooms"></ion-back-button>
    </ion-buttons>
    <ion-title>Room: {{ isLoading ? 'Loading...' : room.progetto }}</ion-title>
    <ion-buttons slot="primary"> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <div>
          <h2>{{ room.progetto }} ({{ room.usermobile }})</h2>
          <p>
            ID: {{room.id}} - USERMOBILE: {{ room.usermobile }} - COLLUDATORE: {{
            room.collaudatore}} - DATA: {{ room.data_inserimento | date:'MM/dd/yy, hh:mm:ss'}}
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
