<ion-header>
  <ion-toolbar>
    <ion-title>test-audiortc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="players">
    <!-- <audio id="localVideo" autoplay muted></audio> -->
    <!-- <audio id="localVideo" muted></audio> -->
  </div>

  <!------------- PARTE AUDIO ---------------------------->
  <div>
    <ion-button [disabled]="joinedTheRoom" (click)="joinRoom()">
      Join Conference
    </ion-button>
    <ion-button [disabled]="!joinedTheRoom" (click)="leaveRoom()">
      Leave Conference
    </ion-button>

    <ion-button id="mute_mic_button" (click)="toggleMic()"
      >Toggle Mic</ion-button
    >
    <!-- <button id="unmute_mic_button" disabled onclick="unmuteLocalMic()">
      Attiva Microfono
    </button> -->
  </div>

  <div id="streamappiccato"></div>

  <div id="partecipantiAudio"></div>

  <!----------------------------------------------------->
</ion-content>
