<ion-header>
  <ion-toolbar>
    <ion-title>test-audiortc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="players">
    <!-- <audio id="localVideo" autoplay muted></audio> -->
    <!-- <audio id="localVideo" muted></audio> -->
    <h2>Room Name: {{roomName}}</h2>
    <h2>Stream Id: {{streamId}}</h2>
  </div>

  <!------------- PARTE AUDIO ---------------------------->
  <div>
    <ion-button
      [disabled]="this.audioService.joinedTheRoom"
      (click)="this.audioService.joinRoom(roomName, streamId)"
    >
      Join Conference
    </ion-button>
    <ion-button
      [disabled]="!this.audioService.joinedTheRoom"
      (click)="this.audioService.leaveRoom(roomName)"
    >
      Leave Conference
    </ion-button>

    <ion-button id="mute_mic_button" (click)="this.audioService.toggleMic()"
      >Toggle Mic</ion-button
    >
    <!-- <button id="unmute_mic_button" disabled onclick="unmuteLocalMic()">
      Attiva Microfono
    </button> -->
  </div>

  <div id="streamappiccato"></div>

  <div id="partecipantiAudio"></div>

  <div *ngFor="let remoteStream of this.audioService.remoteStreams">
    <div class="audio-container">
      <div class="ion-padding">
        <p>Utente</p>
        <h3>{{remoteStream.id}}</h3>
      </div>
      <audio
        id="{{ 'remoteVideo' + remoteStream.id }}"
        [srcObject]="remoteStream.stream"
        controls
        autoplay
        playsinline
      ></audio>
      <h5>{{ remoteStream.displayName }}</h5>
    </div>
  </div>

  <!----------------------------------------------------->
</ion-content>
