<ion-header>
  <ion-toolbar>
    <ion-title>test-audiortc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="players">
    <audio id="localVideo" autoplay muted></audio>
  </div>

  <!------------- PARTE AUDIO ---------------------------->
  <div>
    <button id="join_publish_button" (click)="joinRoom()">
      Join Conference
    </button>
    <button id="stop_publish_button" (click)="leaveRoom()">
      Leave Conference
    </button>

    <button id="mute_mic_button" (click)="toggleMic()">Toggle Mic</button>
    <!-- <button id="unmute_mic_button" disabled onclick="unmuteLocalMic()">
      Attiva Microfono
    </button> -->
  </div>
  <div>
    <span
      class="label label-success"
      id="broadcastingInfo"
      style="font-size: 14px; display: none"
      >-- AUDIO CONNESSO --</span
    >
  </div>

  <div id="streamappiccato"></div>

  <div id="partecipantiAudio"></div>

  <!----------------------------------------------------->
</ion-content>
