.btn-trasparent {
  --background: none;
  --color: --var(--ion-color-dark);
  --border-radius: 0;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-start: 0px;
  margin: 0%;
  height: 36px;
  width: 36px;
  ion-icon {
    font-size: 1.2rem;
  }
}

.gray-bar {
  background-color: var(--ion-color-light-tint);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 6px 16px 6px 16px;
  .dots {
    display: block;
  }
}

.white-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 16px 0px 16px;
}

// .dropdown {
//   margin: 6px 16px 6px 16px;
//   position: relative;
//   .dropdown-content {
//     display: block;
//     position: absolute;
//     background-color: #f9f9f9;
//     z-index: 1;
//   }
// }
