<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditMode ? 'Edit Project Modal' : 'New Project Modal'}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Template Driven Form -->
<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center ion-padding-bottom">
          <ion-list class="ion-padding-bottom">
            <ion-item>
              <ion-label position="stacked">Nome Progetto</ion-label>
              <ion-input required #progettoCtrl="ngModel" name="progetto" placeholder="progetto" type="text" [(ngModel)]="project.progetto"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Usermobile</ion-label>
              <ion-input required #usermobileCtrl="ngModel" name="usermobile" placeholder="usermobile" type="text" [(ngModel)]="project.usermobile"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Link Progetto</ion-label>
              <ion-input required #linkprogettoCtrl="ngModel" name="linkprogetto" placeholder="linkprogetto" type="text" [(ngModel)]="project.linkprogetto"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Collaudatore</ion-label>
              <ion-input required #collaudatoreCtrl="ngModel" name="collaudatore" placeholder="collaudatore" type="text" [(ngModel)]="project.collaudatore"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isEditMode">
        <ion-col size-md="6" class="ion-text-center">
          <ion-button type="button" color="primary" expand="block" shape="round" fill="outline" (click)="onDownload()">Download Foto
          </ion-button>
        </ion-col>
        <ion-col size-md="6" class="ion-text-center">
          <ion-button type="button" color="danger" expand="block" shape="round" fill="outline" (click)="onDelete()">Elimina Progetto
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col class="ion-text-center">
          <ion-button [disabled]="!f.valid" type="submit" color="primary" expand="block" shape="round">{{ isEditMode ? 'Salva' : 'Crea'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>