
.card-out{
  max-height: 80vh;
  margin-left: 0;
  margin-right: 0;
  box-shadow: none;
}

.card-inside{
  max-height: 55vh;
  overflow: hidden;
  overflow-y: auto;
}

.shp{
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
}

.bottoni{
  display: flex;
  flex-direction: column;
  box-shadow: none;
  justify-content: center;
  align-items: center;
}
.secondary-data{
  font-size: 0.5rem;
  word-wrap: break-word;
}
.primary-data{
  font-size: 0.7rem;
  word-wrap: break-word;
}

