<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Backoffice</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button (click)="openCreateUser()">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Crea Utente</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="openGisfoUpload()">
        <ion-icon name="cloud-download-outline"></ion-icon>
        <ion-label>GysFo Sync</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="openUploadShp()">
        <ion-icon name="duplicate-outline"></ion-icon>
        <ion-label>XXXXXXX SHP</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-card class="card-out">
          <div class="ion-margin-vertical ion-text-right ">
            <ion-button size="small" shape="round" fill="outline" color="primary" (click)="showProjectsClick()">
              <ion-icon slot="start" name="file-tray-full-outline"></ion-icon>Progetti
            </ion-button>
            <ion-button size="small" shape="round" fill="outline" color="primary" (click)="showUsers()">
              <ion-icon slot="start" name="people-outline"></ion-icon>Utenti
            </ion-button>
          </div>
          <ion-card-content>
            <ion-searchbar #searchInput placeholder="Cerca"></ion-searchbar>
            <ion-card class="card-inside ion-no-margin" *ngIf="showProjects">
              <ion-item-sliding *ngFor="let proj of (projects$ | async)">
                <ion-item>
                  <div class="ion-margin-vertical">
                    <ion-icon name="map-outline" color="secondary"></ion-icon>
                  </div>
                  <ion-grid>
                    <ion-row>
                      <ion-col size-md="4" offset-md="1" class="ion-margin-vertical">
                        <ion-row>
                          <ion-text class="primary-data" color="primary">{{ proj.nome }}</ion-text>
                        </ion-row>
                        <ion-row>
                          <ion-text class="primary-data" color="primary">{{ proj.collaudatoreufficio }}</ion-text>
                        </ion-row>
                        <a class="secondary-data" href="https://www.nperf.com/it/map/IT/-/230.TIM/signal/?ll={{ proj.lat_centro_map }}&lg={{ proj.long_centro_map }}&zoom=13" target="_blank">Copertura Rete Mobile</a>
                          <p class="secondary-data" color="primary"><b>PK:</b> {{ proj.pk_proj }}</p>
                        </ion-col>
                        <ion-col size-md="6" offset-md="1" class="ion-margin-vertical">
                          <p class="secondary-data" color="primary"><b>Nodi Ottici:</b> {{ proj.nodi_ottici }}</p>
                          <p class="secondary-data" color="primary"><b>Nodi Fisici:</b> {{ proj.nodi_fisici }}</p>
                          <p class="secondary-data" color="primary"><b>Tratte:</b> {{ proj.tratte }}</p>
                          <p class="secondary-data" color="primary"><b>Connessioni:</b> {{ proj.conn_edif_opta }}</p>
                          <p class="secondary-data" color="primary"><b>Lat:</b> {{ proj.lat_centro_map }} <b>Long:</b> {{ proj.long_centro_map }}</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
                <ion-item-options>
                  <ion-item-option color="danger" (click)="onDelete()">
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                  </ion-item-option>
                  <ion-item-option color="warning">
                    <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
            <ion-card class="card-inside" *ngIf="!showProjects">
              <ion-item-sliding *ngFor="let user of (users$ | async)">
                <ion-item>
                  <div class="ion-margin-vertical">
                    <ion-icon name="person-outline" color="secondary"></ion-icon>
                  </div>
                  <ion-grid>
                    <ion-row>
                      <ion-col class="ion-margin vertical ion-text-center">
                        <ion-row class="ion-margin-horizontal">
                          <ion-text class="primary-data" color="primary"><b>Nome:</b> {{ user.collaudatoreufficio }}</ion-text>
                        </ion-row>
                        <ion-row class="ion-margin-horizontal">
                          <ion-text class="primary-data" color="primary"><b>Commessa:</b> XXXXXXXXXXX </ion-text>
                        </ion-row>
                      </ion-col>
                      <ion-col size="4" offset="1" class="ion-margin vertical">
                        <p class="secondary-data" color="primary"><b>ID: </b> {{ user.id }}</p>
                        <p class="secondary-data" color="primary"><b>Autorizzazione: </b> {{ user.autorizzazioni }}</p>
                        <p class="secondary-data" color="primary"><b>User: </b> {{ user.username }}</p>
                        <p class="secondary-data" color="primary"><b>Password: </b> {{ user.password }}</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
                <ion-item-options>
                  <ion-item-option color="danger" (click)="onDelete(user.id)">
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                  </ion-item-option>
                  <ion-item-option color="warning">
                    <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<!-- <div class="ion-text-right button-menu">
  <ion-button size="small" shape="round" color="light" fill="outline" (click)="openCreateUser()">
    <ion-icon size="small" slot="icon-only" name="person-add-outline"></ion-icon>
  </ion-button>
  <ion-button size="small" shape="round" color="light" fill="outline" (click)="openGisfoUpload()">
    <ion-icon size="small" slot="icon-only" name="cloud-download-outline"></ion-icon>
  </ion-button>
  <ion-button size="small" shape="round" color="light" fill="outline" (click)="openUploadShp()">
    <ion-icon size="small" slot="icon-only" name="duplicate-outline"></ion-icon>
  </ion-button>
</div> -->
