<ion-content>
  <ion-searchbar (ionInput)="searchStream$.next($event.target.value)"></ion-searchbar>
  <ion-row>
    <ion-col *ngFor="let data of datas" [size]="data.size"><b>{{data.title}}</b>
      <app-order-by-button (event)="sortBy(data, $event)"></app-order-by-button>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let ob of (obs$ | async); let i = index;">
    <ion-col *ngFor="let data of datas" [size]="data.size">
      {{ data.type === 'date' ? (ob[data.key] | date:'dd/MM/yy') : ob[data.key] }}
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <app-pagination [totalPages]="totalPages" [page]="page" (event)="loadPage($event)"></app-pagination>
</ion-footer>