<ion-content>
  <ion-row class="ion-align-items-center">
    <ion-col size="11">
      <ion-searchbar (ionInput)="searchStream$.next($event.target.value)"></ion-searchbar>
    </ion-col>
    <ion-col size="1">
      <ion-button expand="block" fill="clear" (click)="createRoom()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let data of datas" [size]="data.size"><b>{{data.title}}</b>
      <app-order-by-button *ngIf="data.type !== 'buttons'" (event)="sortBy(data, $event)"></app-order-by-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-rooms-table-item *ngFor="let ob of (obs$ | async); let i = index;" [room]="ob" [datas]="datas">
      </app-rooms-table-item>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <app-pagination [totalPages]="totalPages" [page]="page" (event)="loadPage($event)"></app-pagination>
</ion-footer>