<ion-content>
  <div *ngIf="coordinates" class="coordinates">
    <p>{{ coordinates.latitude }}</p>
    <p>{{ coordinates.longitude }}</p>
  </div>
  <div class="form-container form-padding">
    <form class="form-fields" [formGroup]="form">
      <canvas #canvas id="canvas" class="canvas" [width]="WIDTH" [height]="HEIGHT">
      </canvas>
      <ion-text color="dark">{{ date | date: 'HH:mm - dd/MM/yyyy' }}</ion-text>
      <ion-item class="nomeElemento">
        <ion-label color="dark" position="floating">Nome Elemento</ion-label>
        <ion-input formControlName="nomeElemento" type="text"></ion-input>
      </ion-item>
      <ion-item class="note">
        <ion-label color="dark" position="floating">Note</ion-label>
        <ion-textarea formControlName="note" rows="4" type="text"></ion-textarea>
      </ion-item>
    </form>
    <div class="form-buttons">
      <ion-button class="annulla" type="button" (click)="closeModal()">Annulla</ion-button>
      <ion-button class="salva" type="submit" (click)="createPhoto()">Salva foto</ion-button>
    </div>
  </div>
</ion-content>

<!-- <ion-content padding class="main-view">
  <div class="modal_content">
    <div class="circle"></div>
    <div class="modal-content">
      <h2>Welcome to Ionic!</h2>
      <p>
        This starter project comes with simple tabs-based layout for apps that
        are going to primarily use a Tabbed UI.
      </p>
      <p>
        Take a look at the <code>pages/</code> directory to add or change tabs,
        update any existing page or create new pages.
      </p>
    </div>
  </div>
</ion-content> -->