ion-content {
  --background: transparent;
  position: relative;
}

.form-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  overflow-y: scroll;
  .canvas {
    height: 100%;
    width: 100%;
  }
  .coordinates {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px;
    background-color: white;
    opacity: 0.6;
    font-size: 0.9rem;
    text-align: end;
    p {
      margin: 4px;
      color: var(--ion-color-dark);
    }
  }
}

.form-fields {
  display: flex;
  flex-grow: 1;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  padding-bottom: 16px;

  ion-text {
    display: block;
    flex-grow: 0;
    font-size: 0.9rem;
    opacity: 70%;
    margin: 16px 16px 0px 16px;
  }
  ion-item {
    --highlight-height: 0;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
  }
  ion-item::part(native) {
    height: 100%;
  }
  ion-item.nomeElemento {
    display: block;
    flex-grow: 0;
  }
  ion-item.note {
    display: block;
    flex-grow: 1;
  }
  ion-item.invalid {
    --border-color: var(--ion-color-warning);
    --border-width: 2px;
  }
  ion-textarea {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
  }
}

ion-label {
  opacity: 70%;
}

ion-input {
  font-weight: 500;
  font-size: 1rem;
}

.form-buttons {
  display: block;
  flex-grow: 0;
  align-self: flex-end;
  padding-top: 8px;
  ion-button {
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: none;
    --border-radius: 0px;
    --padding-bottom: 22px;
    --padding-end: 22px;
    --padding-start: 22px;
    --padding-top: 22px;
  }
  ion-button.annulla {
    --background: var(--ion-color-primary-contrast);
    --color: var(--ion-color-dark-shade);
  }
  ion-button.salva {
    --background: var(--ion-color-primary);
  }
}

@media (max-width: 768px) {
  .form-padding {
    padding: 60px 16px 120px 16px;
  }
}
