ion-content {
  background-color: transparent;
}
.form-container {
  padding: 16px;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  object-fit: contain;
  .form-fields {
    .canvas {
      margin: 0 auto;
      padding-top: 12px;
      height: 100%;
      width: 100%;
      object-fit: contain;
      max-width: 300px;
    }
  }
  .coordinates {
    position: absolute;
    top: 4px;
    right: 16px;
    padding: 3px;
    background-color: white;
    opacity: 0.6;
    text-align: end;
    p {
      font-size: 12px;
      margin: 2px;
      color: var(--ion-color-dark);
    }
  }
}

.form-fields {
  display: flex;
  flex-grow: 1;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  padding-bottom: 16px;
  ion-item.invalid {
    --border-color: var(--ion-color-warning);
    --border-width: 2px;
  }
  .nomeElemento {
    ion-input {
      margin: 16px 0 16px 0;
    }
  }

  /*   ion-text {
    display: block;
    flex-grow: 0;
    font-size: 0.9rem;
    opacity: 70%;
    margin: 16px;
  } */

  /*   ion-item {
    --highlight-height: 0;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
  }
  ion-item::part(native) {
    height: 100%;
  }
  ion-textarea {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
  } */
}

ion-label {
  opacity: 70%;
}

ion-input {
  font-weight: 500;
  font-size: 1rem;
}

.form-buttons {
  display: block;
  flex-grow: 0;
  align-self: flex-end;
  padding-top: 8px;
  ion-button {
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: none;
    --border-radius: 0px;
    --padding-bottom: 22px;
    --padding-end: 22px;
    --padding-start: 22px;
    --padding-top: 22px;
  }
  ion-button.annulla {
    --background: var(--ion-color-primary-contrast);
    --color: var(--ion-color-dark-shade);
  }
  ion-button.salva {
    --background: var(--ion-color-primary);
  }
}
