<!-- <div class="video-container"> -->
<!-- <div [hidden]="!hidden">
    <img src="assets/icons/mockup-icons/wait.svg" />
  </div> -->
<!-- <video #output_video [autoplay]="true" playsinline></video> -->
<!-- </div> -->
<div class="video-container">
  <div [hidden]="isStreaming || isPlaying">
    <img src="assets/icons/mockup-icons/wait.svg" />
  </div>
  <video [hidden]="!isStreaming" #local_video [autoplay]="true" [muted]="true"></video>
  <video [hidden]="!isPlaying" #output_video [autoplay]="true" playsinline></video>
</div>
