<div #player class="player-container">
  <div class="video-container">
    <span *ngIf="this.streamService.streamingUser">
      <ion-text *ngIf="this.streamService.streamingUser.idutente == user.idutcas">
        stai trasmettendo
        <ion-icon name="ellipse" color="primary"></ion-icon>
      </ion-text>
      <ion-text *ngIf="this.streamService.streamingUser.idutente != user.idutcas">
        {{ this.streamService.streamingUser.nome }}
      </ion-text>
    </span>
    <div [hidden]="this.streamService.isStreaming || this.streamService.isPlaying">
      <img src="assets/icons/mockup-icons/wait.svg" />
    </div>
    <video
      id="localVideo"
      [hidden]="!this.streamService.isStreaming"
      #localVideo
      [autoplay]="true"
      [muted]="true"
    ></video>
    <video
      id="remoteVideo"
      [hidden]="!this.streamService.isPlaying"
      #remoteVideo
      [autoplay]="true"
      [muted]="true"
      playsinline
    ></video>
  </div>
  <div class="gray-bar">
    <div>
      <ion-button color="secondary" class="btn-trasparent">
        <ion-icon
          slot="icon-only"
          src="assets/icons/mockup-icons/smart-glasses.svg"
        ></ion-icon>
      </ion-button>
      <ion-button
        class="btn-trasparent"
        (click)="this.streamService.toggleStreaming(user.idutcas, cameraSide)"
      >
        <ion-icon
          *ngIf="this.streamService.isStreaming"
          slot="icon-only"
          src="assets/icons/mockup-icons/cam-on.svg"
        ></ion-icon>
        <ion-icon
          *ngIf="!this.streamService.isStreaming"
          slot="icon-only"
          src="assets/icons/mockup-icons/cam-off.svg"
        ></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button
        class="btn-trasparent"
        [disabled]="!this.streamService.isStreaming && !this.streamService.isPlaying"
        (click)="this.capturePhoto(this.streamService.isStreaming)"
      >
        <ion-icon
          slot="icon-only"
          src="assets/icons/mockup-icons/aperture.svg"
        ></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button class="btn-trasparent" (click)="this.audioService.toggleMic()">
        <ion-icon
          *ngIf="this.audioService.isMicOn"
          slot="icon-only"
          name="mic"
        ></ion-icon>
        <ion-icon
          *ngIf="!this.audioService.isMicOn"
          slot="icon-only"
          name="mic-off"
        ></ion-icon>
      </ion-button>
      <ion-button
        color="danger"
        class="btn-trasparent"
        (click)="this.audioService.toggleAudio(room.id, user.idutcas)"
      >
        <ion-icon
          *ngIf="this.audioService.isJoined"
          slot="icon-only"
          src="assets/icons/mockup-icons/termina-call.svg"
        ></ion-icon>
        <ion-icon
          *ngIf="!this.audioService.isJoined"
          slot="icon-only"
          name="call"
        ></ion-icon>
      </ion-button>
    </div>
  </div>
  <!-- BOTTONI VIDEO -->
  <div class="white-bar">
    <ion-button
      class="btn-trasparent"
      (click)="this.audioService.toggleAudio(room.id, user.idutcas)"
    >
      <ion-icon
        *ngIf="this.audioService.isJoined"
        slot="icon-only"
        name="volume-high-sharp"
      ></ion-icon>
      <ion-icon
        *ngIf="!this.audioService.isJoined"
        slot="icon-only"
        name="volume-mute-sharp"
      ></ion-icon>
    </ion-button>
    <ion-button class="btn-trasparent" (click)="toggleFullscreen()">
      <ion-icon
        slot="icon-only"
        src="assets/icons/mockup-icons/expand.svg"
      ></ion-icon>
    </ion-button>
    <!-- <div class="dots">
      <ion-button class="btn-trasparent">
        <ion-icon
          slot="icon-only"
          src="assets/icons/mockup-icons/dots.svg"
        ></ion-icon>
      </ion-button>
    </div> -->
  </div>
</div>
