.player-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .video-container {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    video {
      max-width: 100%;
      max-height: 100%;
      height: -moz-available; /* WebKit-based browsers will ignore this. */
      height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      height: fill-available;
      width: auto;
    }
    .fullscreen {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 9;
      ion-button {
        --background: var(--ion-color-dark);
        --color: white;
        opacity: 70%;
        --border-style: solid;
        --border-width: 2px;
        --border-color: white;
        height: 32px;
        width: 32px;
        ion-icon {
          padding: 6px;
        }
      }
    }
    .label {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 9;
      background-color: white;
      border-radius: 50px;
      opacity: 60%;
      padding: 6px 12px 6px 12px;
      ion-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--ion-color-dark);
        ion-icon {
          padding-left: 12px;
        }
      }
    }
  }
  .gray-bar {
    background-color: var(--ion-color-light-tint);
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    // .dots {
    //   display: block;
    // }
    // .btnCommand {
    //   width: 80%;
    //   display: flex;
    //   justify-content: space-between;
    // }
    .btn-trasparent {
      --background: none;
      --color: var(--ion-color-dark);
      height: 42px;
      width: 42px;
      ion-icon {
        padding: 10px;
      }
    }
  }
  .white-bar {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
  }
}
