<ion-content>
  <div class="container ion-no-margin">
    <div class="backTitle">
      <ion-button class="btn-trasparent ion-no-padding" (click)="closeModal()">
        <ion-icon name="chevron-back-outline" size="large" slot="icon-only" class="ion-margin"></ion-icon>
      </ion-button>
      <div>
        <div class="title">{{roomName}}</div>
      </div>
    </div>
    <div class="data-container">

      <div class="coord-btns">
        <div class="geo-data">
          {{foto.longitu}}<br>
          {{foto.latitu}}
        </div>
        <div class="btns">
          <ion-button class="btn-trasparent ion-no-padding">
            <ion-icon class="ion-margin" name="map" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button class="btn-trasparent ion-no-padding">
            <ion-icon class="ion-margin" name="cloud-download" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button class="btn-trasparent ion-no-padding" (click)="deleteFoto(foto.idPhoto)">
            <ion-icon class="ion-margin" name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </div>

      </div>

      <div class="image ion-no-padding">
        <img [src]="'data:image/jpeg;base64,'+foto.imageBase64 | safeHtml">
      </div>

      <div class="info-area">
        <div *ngIf="!inputArea" class="nome-note">
          <ion-icon name="pencil" size="large" color="light" class="pen-update" (click)="updateOn()"></ion-icon>
          <p class="data-bold">{{foto.nameimg}}</p>
          <p class="data-bold">{{foto.dataimg | date: 'dd/MM/yyyy - HH:mm'}}</p>
          <p class="data-bold">Nota:</p>
          <p class="nota">{{foto.noteimg}}</p>
        </div>


        <div *ngIf="inputArea" class="nome-note">
          <ion-icon name="checkmark-sharp" size="large" color="light" class="pen-update" (click)="updateOff()">
          </ion-icon>
          <form [formGroup]="form" class="form ion-padding">
            <ion-item>
              <ion-label position="stacked">Nome</ion-label>
              <ion-input type="text">{{foto.nameimg}}</ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label position="stacked">Note</ion-label>
              <ion-input type="text">{{foto.noteimg}}</ion-input>
            </ion-item>
          </form>
        </div>

      </div>
    </div>
  </div>


</ion-content>