<ion-header>
  <ion-toolbar>
    <ion-title>Crea Room</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" class="ion-padding">

    <ion-item>
      <ion-label color="primary" position="floating">Usermobile</ion-label>
      <ion-input formControlName="usermobile" type="text"></ion-input>
      <ion-icon name="pencil-outline" slot="end" class="ion-align-self-center"></ion-icon>
    </ion-item>

    <dropdown-item formControlName="progetto" [key]="'nome'" [title]="'Nome Progetto'"
      [inputObs$]="this.projectService.projects$" (event)="this.selectedProject = $event">
    </dropdown-item>

    <ion-item>
      <ion-label color="primary" position="stacked">Collaudatore</ion-label>
      <ion-input color="medium" disabled="true" type="text">{{selectedProject?.collaudatoreufficio}}</ion-input>
      <ion-icon name="lock-closed-outline" slot="end" class="ion-align-self-center"></ion-icon>
    </ion-item>

  </form>
</ion-content>
<div class="ion-margin-vertical ion-padding">
  <ion-button color="primary" expand="block" shape="round" (click)="createRoom()">Crea Room</ion-button>
</div>