<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/projects"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-md="8" offset-md="2" class="ion-text-center">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nome Progetto</ion-label>
          <ion-input placeholder="progetto" type="text" [(ngModel)]="project.progetto"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Usermobile</ion-label>
          <ion-input placeholder="usermobile" type="text" [(ngModel)]="project.usermobile"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Link Progetto</ion-label>
          <ion-input placeholder="linkprogetto" type="text" [(ngModel)]="project.linkprogetto"></ion-input>
        </ion-item>  
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="4" offset-md="2" class="ion-text-center">
      <ion-button color="primary" expand="block" shape="round" fill="outline" (click)="onDownload()">Download Foto</ion-button>
    </ion-col>
    <ion-col size-md="4" class="ion-text-center">
      <ion-button color="danger" expand="block" shape="round" fill="outline" (click)="onDelete()">Elimina Progetto</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="8" offset-md="2" class="ion-text-center">
      <ion-button color="primary" expand="block" shape="round" (click)="onSave()">Save</ion-button>
    </ion-col>
  </ion-row>
</ion-content>