ion-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.grid-padding {
  padding: 96px 16px 128px 16px;
}
ion-col {
  padding-left: 16px;
  padding-right: 16px;
}

.conference-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  .title {
    color: --var(--ion-color-dark);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .bold {
      font-weight: 600;
    }
  }
}

.button {
  --background: none;
  --color: var(--ion-color-dark);
  --border-radius: 0;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-start: 0px;
  height: 40px;
  width: 40px;
  ion-icon {
    font-size: 1.3rem;
  }
}

.button-active {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

/* sotto da cancellare una volta sostituite le parti */
.spazio-vuoto-dimensione-fissa {
  position: relative;
  height: 480px;
  background-color: black;
}

.btn-map {
  display: flex !important;
  justify-content: space-around !important;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;
  font-size: small;
  .box-toggle {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    ion-icon {
      font-size: 18px;
    }
    ion-toggle {
      height: 14px;
      width: 28px;
    }
    img {
      height: 18px;
      width: 18px;
    }
  }
}

.chatBtn {
  z-index: 10;
  position: relative;
  .notification {
    width: 12px;
    height: 12px;
    font-size: 6px;
    font-weight: 800;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.333);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    //animation:alternate .5s;
    animation-name: circle-scale;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  }
}
.noti2 {
  animation-delay: -250ms;
}
.noti3 {
  animation-delay: -500ms;
}

@keyframes circle-scale {
  to {
    transform: scale(1.3);
  }
}
