<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-toggle auto-hide="false" class="ion-padding-end">
        <ion-button>
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <div class="header">
      <ion-title>Conference</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading" class="ion-margin-horizontal">
    <ion-row>
      <ion-col size-lg="2">
        <!-- BTN CHE RIMANDA INDIETRO ALL'INGRESSO DELLA CONFERENCE -->
        <ion-item
          lines="none"
          button="true"
          class="item-button"
          routerLink="/rooms"
        >
          <ion-icon slot="start" name="chevron-back-sharp"></ion-icon>
          <ion-text>Lista Room</ion-text>
        </ion-item>
        <!-- <ion-button class="item-button" button="true">
          <ion-icon slot="start" name="chevron-back-sharp"></ion-icon>
          <ion-text>Lista Room</ion-text>
        </ion-button> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="4.5">
        <div class="conference-title">
          <div class="title">
            <ion-text><b>{{room?.progetto}}</b></ion-text>
            <ion-text>{{room?.sessione}}</ion-text>
          </div>
          <!-- BTN CHE COPIA IL LINK DELLA CONFERENCE -->
          <ion-button class="button" (click)="copyLink()">
            <ion-icon slot="icon-only" name="share-social"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="4.5">
        <!-- QUI DENTRO VA IL VIDEO PLAYER -->
        <div class="spazio-vuoto-dimensione-fissa">
          <span *ngIf="streamingUser" class="label">
            <ion-text *ngIf="streamingUser.idutente == user.idutcas">
              stai trasmettendo
              <ion-icon name="ellipse" color="primary"></ion-icon>
            </ion-text>
            <ion-text *ngIf="streamingUser.idutente != user.idutcas">
              {{streamingUser.nome}}
            </ion-text></span
          >
          <app-player
            [isStreaming]="isStreaming"
            [isPlaying]="isPlaying"
          ></app-player>
        </div>
        <app-streaming-bar
          [isStreaming]="isStreaming"
          [isPlaying]="isPlaying"
          (togglePlay)="togglePlay()"
          (toggleStream)="toggleStream()"
        ></app-streaming-bar>
      </ion-col>

      <ion-col size="4.5">
        <!-- QUI DENTRO VA LA MAPPA -->
        <div class="spazio-vuoto-dimensione-fissa">
          <div>
            <h1>mappa</h1>
          </div>
        </div>
        <div class="btn-map">
          <div class="left">
            <ion-item>
              <ion-label position="floating">Campo input da rivedere</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </div>
          <div class="right">
            <ion-button size="small" color="light">
              <ion-icon
                size="small"
                slot="icon-only"
                src="assets/icons/mockup-icons/flag.svg"
              ></ion-icon>
            </ion-button>
            <ion-button class="btn-trasparent">
              <ion-icon
                size="small"
                slot="icon-only"
                src="assets/icons/mockup-icons/marker.svg"
              ></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>

      <ion-col size="3">
        <!-- QUI DENTRO VA LA LISTA PARTECIPANTI con SWITCH su CHAT-->
        <div>
          <app-users-list [usersInRoom]="usersInRoom"></app-users-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
