.btn-trasparent {
  --color: --var(--ion-color-dark);
  --background: none;
}

.conference-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  .title {
    color: --var(--ion-color-dark);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .button {
    --background: none;
    --color: --var(--ion-color-dark);
    --border-radius: 0;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-start: 0px;
    display: block;
    height: 36px;
    width: 36px;
    ion-icon {
      font-size: 1.3rem;
    }
  }
}

.none {
  --background: none;
  color: transparent;
}

.cards-container {
  box-shadow: none !important;
}
.video-head {
  display: flex !important;
  justify-content: space-between !important;
}

/* sotto da cancellare una volta sostituite le parti */
.spazio-vuoto-dimensione-fissa {
  height: 480px;
  margin-right: 16px;
  margin-left: 16px;
  background-color: black;
  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: aliceblue;
  }
}

/*  */
.audio-video-ctrl {
  background-color: var(--ion-color-light-tint);
  width: 90%;
  margin: 2% auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .left-ctrl {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .dots {
    position: relative;
    align-self: center;
    justify-self: center;
  }
}
.btn-video {
  display: flex !important;
  justify-content: space-between !important;
}
.btn-map {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;
  ion-label {
    font-size: 12px;
  }
  ion-input {
    font-size: 12px;
  }
  .left {
    margin-left: 5%;
    flex: 4;
  }
  .right {
    margin-left: 5%;
    margin-right: 5%;
    flex: 2;
  }
}
