<ion-card class="custom-card">
  <ion-card-header>
    <ion-card-title color="primary">Room: {{ room.nome_progetto }}</ion-card-title>
    <ion-card-subtitle color="dark">Data creazione: {{ room.data_inserimento | date:'dd MMMM yyyy' }}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <!-- Reactive Form -->
    <div *ngIf="isLoading" class="ion-text-center">
      <ion-spinner color="primary"></ion-spinner>
    </div>
    <!-- Reactive Form -->
    <form [formGroup]="form" *ngIf="!isLoading">
      <!-- <ion-row>
        <ion-col>
          <ion-text color="primary">
            <h1>Room:</h1>
          </ion-text>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-text color="primary">
            <h1>{{ room.nome_progetto }}</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="dark">
            <p>Data creazione:</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text color="dark" class="ion-text-end">
            <p>{{ room.data_inserimento | date:'dd MMMM yyyy' }}</p>
          </ion-text>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="primary" position="floating">USERMOBILE</ion-label>
            <ion-input formControlName="usermobile" type="text" autocomplete autocorrect></ion-input>
            <ion-icon name="pencil-outline" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-card-content>
</ion-card>
<div class="fixed ion-padding">
  <ion-row>
    <ion-col>
      <ion-button type="button" color="primary" expand="block" shape="round" fill="outline" (click)="onDownload()">
        Download Foto
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button type="button" color="danger" expand="block" shape="round" fill="outline" (click)="onDelete()">
        Elimina Room
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" shape="round" (click)="onUpdateRoom()">Salva</ion-button>
    </ion-col>
  </ion-row>
</div>