<div class="login-label">Login</div>

<div class="form-container">
  <form [formGroup]="form" class="form-fields">
    <div class="user-label">USER</div>
    <ion-item
      [ngClass]="!form.get('username').valid && form.get('username').touched ? 'invalid' : ''"
    >
      <ion-label class="smallLabel" position="floating">Nome Utente</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>
    <div *ngIf="!form.get('username').valid && form.get('username').touched" lines="none">
      <ion-text>Inserire un nome utente!</ion-text>
    </div>
    <ion-item
      [ngClass]="!form.get('password').valid && form.get('password').touched ? 'invalid' : ''"
    >
      <ion-label class="smallLabel" position="floating">Password</ion-label>
      <ion-input
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
        (keyup.enter)="authenticate()"
      >
      </ion-input>
      <ion-icon
        class="show-password"
        [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
        slot="end"
        (click)="toggleShowPassword()"
      ></ion-icon>
    </ion-item>
    <div *ngIf="!form.get('password').valid && form.get('password').touched" lines="none">
      <ion-text>Inserire una password!</ion-text>
    </div>
    <!-- <ion-item *ngIf="!pswCtrl.valid && pswCtrl.touched" lines="none">
            <ion-label>Inserisci una password!</ion-label>
          </ion-item> -->
  </form>
  <div class="form-button">
    <ion-button type="submit" (click)="authenticate()"
      ><ion-icon class="arrow" name="arrow-forward-sharp" slot="icon-only"></ion-icon
    ></ion-button>
    <!-- <ion-button type="button" expand="block" fill="clear" (click)="isLogin = !isLogin">Switch to {{isLogin ?
              "Sign Up" : "Login"}}</ion-button> -->
  </div>
</div>
