<ion-content>
  <ion-searchbar (ionInput)="searchStream$.next($event.target.value)"></ion-searchbar>
  <app-generic-table [inputObs$]="rooms$" [datas]="[
{ title: 'ID', key: 'id', type: 'number', size: 1 },
{ title: 'Data', key: 'data_inserimento', type: 'date', size: 2 },
{ title: 'Collaudatore', key: 'nome_collaudatore', type: 'string', size: 3 },
{ title: 'Usermobile', key: 'usermobile', type: 'string', size: 3 },
{ title: 'Progetto', key: 'nome_progetto', type: 'string', size: 3 },
]"></app-generic-table>
</ion-content>