.header-row {
    margin: 0 auto;
}

.data-row {
    // background-color: var(--ion-color-tertiary);
    // color: var(--ion-color-tertiary-contrast);
    // border-bottom: 1px solid var(--ion-color-primary);
}

.dataTitle{
    font-size: 1rem;

    color: var(--ion-color-primary);
}

.data{
    font-size: 1rem;
    border-bottom: 1px solid rgb(158, 158, 158);
    border-right: 1px solid rgba(158, 158, 158, 0.5);
    background-color: #ffffff;
    border-radius: 4px;
}

.searchBar{
    width: 70%;
    margin: 0 auto;
    background: none;
}

.container{
    height: 90vh;
    background: #e0f1ff;
    position:relative;
}

.page{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    font-size: small;
}

.page-btn{
    color: var(--ion-color-primary);
}

.page-btn-number{
    color: var(--ion-color-primary);
    text-align: center;
    font-size: small;
    transform: translate(-8%,-12%);
}
