.backTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-title{
    box-shadow: none;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: flex-end;
}
.image-container{
    background-size: cover;
    min-height: 160px;
    min-width: 160px;
}