<ion-header>
  <ion-toolbar>
    <ion-title>testStream</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <h3>RTMP Destination:</h3>
      <!-- <input [(ngModel)]="suffix" type="text" style="width: 100%" /> -->
      <p>Room: {{roomId}}</p>
      <p>User: {{userId}}</p>
      <p>rtmpDestination: {{rtmpDestination}}</p>
      <p>flvOrigin: {{flvOrigin}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col><app-webcam [rtmpDestination]="rtmpDestination"></app-webcam></ion-col>
    <ion-col><app-player [flvOrigin]="flvOrigin"></app-player></ion-col>
  </ion-row>
</ion-content>
