<ion-menu contentId="main" swipeGesture="false" side="end">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-toggle auto-hide="false" class="ion-padding-end">
          <ion-button
            ><ion-icon slot="icon-only" name="close-sharp"></ion-icon
          ></ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="container">
      <!-- <div *ngIf="!(currentRoom$ | async)" class="app-menu">
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" button="true" routerLink="/rooms">
            <ion-text>Rooms</ion-text>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" *userIsAdmin>
          <ion-item lines="none" button="true" routerLink="/admin">
            <ion-text>Admin Backoffice</ion-text>
          </ion-item>
        </ion-menu-toggle>
      </div> -->
      <div *ngIf="currentRoom$ | async as room" class="app-menu">
        <ion-menu-toggle auto-hide="false">
          <ion-item
            lines="none"
            button="true"
            routerLink="/rooms/gallery/{{ room.id }}/{{ room.progetto }}"
          >
            <ion-text>Media</ion-text>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" button="true">
            <ion-text>Opzioni</ion-text>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" button="true">
            <ion-text>Info Sessione</ion-text>
          </ion-item>
        </ion-menu-toggle>
      </div>
      <div class="user-menu">
        <div>
          <ion-item lines="none">
            <div>
              <h2>{{ (currentUser$ | async)?.nomecognome }}</h2>
              <p>Username: {{ (currentUser$ | async)?.username }}</p>
              <p>Commessa: {{ (currentUser$ | async)?.commessa }}</p>
              <p>
                Autorizzazione: {{ (currentUser$ | async)?.autorizzazione }}
              </p>
              <p>ID Utente: {{ (currentUser$ | async)?.idutcas }}</p>
            </div>
          </ion-item>
        </div>

        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" button="true" (click)="onLogout()">
            <ion-text slot="end">Logout</ion-text>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </div>
  </ion-content>
</ion-menu>
