<ion-menu contentId="main" swipeGesture="false">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle auto-hide="false">
          <ion-button>
            <ion-icon name="close" size="default"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item lines="none" button="true" routerLink="rooms" [queryParams]="{user: 'XHfGBAzmkp'}">
          <ion-icon name="create" slot="start" color="secondary"></ion-icon>
          <ion-label>Rooms</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false">
        <ion-item lines="none" button="true" routerLink="admin">
          <ion-icon name="lock-closed" slot="start" color="secondary"></ion-icon>
          <ion-label>Admin Backoffice</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>