<!-- refresh -->
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<!-- searchbar + add -->
<div class="searchbarAdd">
  <ion-searchbar class="search-bar" (ionInput)="searchStream$.next($event.target.value)"></ion-searchbar>
  <ion-button color="secondary">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
</div>
<!-- items -->
<!-- Desktop -->
<ion-content class="ion-hide-md-down">
  <app-generic-table [columns]="columns" [inputDatas$]="projects$">
    <ng-template #buttons let-room='data'>
      <div class="btns">
        <ion-button size="small" class="ion-no-margin" expand="block" fill="clear" (click)="createLinkNPerf()">
          <ion-icon name="globe-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" class="ion-no-margin" expand="block" fill="clear" (click)="editProject()">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" class="ion-no-margin" expand="block" fill="clear" (click)="deleteProject()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ng-template>
  </app-generic-table>
</ion-content>
<!-- Mobile -->
<ion-content class="ion-hide-md-up">
  <app-generic-list [inputDatas$]="projects$" [optionsTemplate]="optionsTemplate">
    <ng-template #optionsTemplate let-room='data' let-slidingItem='item'>
      <ion-item-options side="start">
        <ion-item-option color="primary" (click)="editProject()">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteProject()">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="createLinkNPerf()">
          <ion-icon name="globe-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ng-template>
  </app-generic-list>
</ion-content>