<!-- refresh -->
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<!-- searchbar + add -->
<div class="searchbarAdd">
  <ion-searchbar class="search-bar" (ionInput)="searchStream$.next($event.target.value)"></ion-searchbar>
  <ion-button color="secondary">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
</div>
<!-- items -->
<!-- Desktop -->
<ion-content class="ion-hide-md-down">
  <app-generic-table [columns]="[
  { title: 'ID', key: 'idprogetto', type: 'number', size: 1 },
  { title: 'Sync', key: 'sync', type: 'boolean', size: 1 },
  { title: 'Data', key: 'datasincro', type: 'date', size: 1 },
  { title: 'PK Project', key: 'pk_proj', type: 'string', size: 2 },
  { title: 'Nome Progetto', key: 'nome', type: 'string', size: 3 },
  { title: 'Collaudatore', key: 'collaudatoreufficio', type: 'string', size: 2 },
  { title: 'Azioni', key: 'azioni', type: 'buttons', size: 2 }
  ]" [inputDatas$]="projects$"></app-generic-table>
</ion-content>
<!-- Mobile -->
<ion-content class="ion-hide-md-up">
  <app-generic-list [inputDatas$]="projects$"></app-generic-list>
</ion-content>