<div class="gray-bar">
  <div>
    <ion-button class="btn-trasparent" (click)="toggleStreaming()">
      <ion-icon
        *ngIf="isStreaming"
        slot="icon-only"
        src="assets/icons/mockup-icons/cam-on.svg"
      ></ion-icon>
      <ion-icon
        *ngIf="!isStreaming"
        slot="icon-only"
        src="assets/icons/mockup-icons/cam-off.svg"
      ></ion-icon>
    </ion-button>
    <ion-button
      class="btn-trasparent"
      (click)="this.audioService.toggleAudio(roomId, userId)"
    >
      <ion-icon
        *ngIf="this.audioService.isJoined"
        slot="icon-only"
        name="volume-high-sharp"
      ></ion-icon>
      <ion-icon
        *ngIf="!this.audioService.isJoined"
        slot="icon-only"
        name="volume-mute-sharp"
      ></ion-icon>
    </ion-button>
    <ion-button class="btn-trasparent" (click)="this.audioService.toggleMic()">
      <ion-icon
        *ngIf="this.audioService.isMicOn"
        slot="icon-only"
        name="mic"
      ></ion-icon>
      <ion-icon
        *ngIf="!this.audioService.isMicOn"
        slot="icon-only"
        name="mic-off"
      ></ion-icon>
    </ion-button>
  </div>
  <div class="dots">
    <ion-button class="btn-trasparent">
      <ion-icon
        slot="icon-only"
        src="assets/icons/mockup-icons/dots.svg"
      ></ion-icon>
    </ion-button>
  </div>
  <div>
    <ion-button class="btn-trasparent">
      <ion-icon
        slot="icon-only"
        src="assets/icons/mockup-icons/expand.svg"
      ></ion-icon>
    </ion-button>
  </div>
</div>
<!-- BOTTONI VIDEO -->
<div class="white-bar">
  <div>
    <ion-button
      color="secondary"
      class="btn-trasparent"
      (click)="togglePlaying()"
    >
      <ion-icon
        slot="icon-only"
        src="assets/icons/mockup-icons/smart-glasses.svg"
      ></ion-icon>
    </ion-button>
    <ion-button
      class="btn-trasparent"
      [disabled]="!isStreaming && !isPlaying"
      (click)="capturingPhoto()"
    >
      <ion-icon
        slot="icon-only"
        src="assets/icons/mockup-icons/aperture.svg"
      ></ion-icon>
    </ion-button>
  </div>
  <ion-button color="danger" class="btn-trasparent">
    <ion-icon
      slot="icon-only"
      src="assets/icons/mockup-icons/termina-call.svg"
    ></ion-icon>
  </ion-button>
</div>
