<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/projects"></ion-back-button>
    </ion-buttons>
    <ion-title>Crea Nuovo Progetto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">USERMOBILE</ion-label>
            <ion-input formControlName="usermobile" type="text" autocomplete autocorrect></ion-input>
            <ion-icon name="pencil-outline" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">NOME PROGETTO</ion-label>
            <ion-input formControlName="nome_progetto" type="text" autocomplete autocorrect></ion-input>
            <ion-icon name="pencil-outline" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">COLLAUDATORE</ion-label>
            <ion-input formControlName="nome_collaudatore" type="text" autocomplete autocorrect></ion-input>
            <ion-icon name="pencil-outline" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button [disabled]="!form.valid" type="submit" color="primary" expand="block" shape="round" (click)="onCreateProject()">Crea
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>