<!-- refresh -->
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<!-- searchbar + add -->
<div class="searchbarAdd">
  <ion-searchbar class="search-bar" (ionInput)="searchStream$.next($event.target.value)"></ion-searchbar>

  <ion-button color="secondary" (click)="openGisfoUpload()">
    <ion-icon name="cloud-download-outline" slot="icon-only"></ion-icon>
  </ion-button>

  <ion-button color="secondary" (click)="openManualUpload()">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>

</div>
<!-- items -->
<ion-row>
  <ion-col *ngIf="(obs$ | async) as obs" class="ion-text-center">
    <div class="ion-text-center" *ngIf="obs.length <= 0">
      <ion-spinner></ion-spinner>
    </div>
    <app-projects-list-item *ngFor="let ob of obs" [project]="ob"></app-projects-list-item>
  </ion-col>
</ion-row>