<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<div class="searchbarAdd">
  <ion-searchbar class="search-bar" (ionInput)="searchStream$.next($event.target.value)"></ion-searchbar>
  <ion-button color="secondary">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
</div>

<div *ngIf="(obs$ | async) as obs" class="ion-text-center">
  <div class="ion-text-center" *ngIf="obs.length <= 0">
    <ion-spinner></ion-spinner>
  </div>
  <app-rooms-list-item *ngFor="let ob of obs" [room]="ob"></app-rooms-list-item>
</div>