// .videoElementCaptPhoto {
//     /*border: 2px solid #f7f7f7;*/
//     /*margin: 2%;*/
//     background: #01032a;
//     color: #fff;
//     text-align: center;
//     text-transform: uppercase;
//     overflow:hidden;
//     width:15%;
//     }

.snap-container {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.list-unstyled {
  list-style: none;
}

.list-unstyled li {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}
