.centered {
  height: 100%;
  align-items: center;
  padding: 16px;
}

.circle-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: var(--ion-color-primary);
  padding: 54px;
  background-color: var(--ion-color-light);
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  img {
    padding: 32px;
  }
  .title {
    color: var(--ion-color-primary);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 4px;
  }
  .subtitle {
    color: var(--ion-color-dark);
    font-size: 1rem;
    font-weight: bold;
    padding: 4px;
  }
}
