<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="header">
      <ion-title>Page Not Found</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="centered">
    <ion-col
      size-lg="4"
      offset-lg="4"
      size-md="6"
      offset-md="3"
      size-sm="8"
      offset-sm="2"
      size-xs="12"
    >
      <div class="circle-container">
        <div>
          <img src="assets/icons/mockup-icons/wait.svg" />
        </div>
        <div class="title">Error 404.</div>
        <div class="subtitle">
          Sembra non ci sia nulla<br />su questa pagina
        </div>
      </div></ion-col
    >
  </ion-row>
</ion-content>
