.searchbarAdd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-bar {
    font-size: small;
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
