<ion-menu side="start" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item lines="none" button="true" routerLink="projects">
          <ion-icon name="create" slot="start"></ion-icon>
          <ion-label>Progetti</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" button="true" routerLink="backoffice">
          <ion-icon name="lock-open" slot="start"></ion-icon>
          <ion-label>Backoffice</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" button="true">
          <ion-icon name="link" slot="start"></ion-icon>
          <ion-label>Crea Link nPerf</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" button="true" (click)="isLoggedIn ? onLogout() : onLogin()">
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>{{isLoggedIn ? 'Logout' : 'Login'}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>