/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/*
FONT
*/

@font-face {
  font-family: 'Varela'; //valore da chiamare nel CSS
  src: url('../src/assets/fonts/Varela-Regular.ttf');
}
@font-face {
  font-family: 'Courier'; //valore da chiamare nel CSS
  src: url('../src/assets/fonts/CourierPrime-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat'; //valore da chiamare nel CSS
  src: url('../src/assets/fonts/Montserrat-Regular.ttf');
}

/*
*  Applica uno stile globale alla toolbar
*/
ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--ion-color-secondary-tint);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ion-color-secondary-tint);
  border-radius: 5px;
}

* {
  font-family: Montserrat !important;
}
ion-label {
  font-family: Montserrat !important;
}

ion-button {
  --box-shadow: false;
}

ion-card.custom-card {
  overflow: hidden;
  overflow-y: auto;
  box-shadow: none;
  // padding: 0%;
  // margin: 0%;
}

div.fixed {
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.custom-toast {
  text-align: center;
  --max-width: fit-content;
  --border-radius: 50px;
}

.sync-toast {
  --max-width: fit-content;
  --start: flex-start;
  --border-radius: 50px;
  text-align: center;
}

.download-toast {
  --max-width: fit-content;
  --end: flex-end;
  --border-radius: 50px;
  text-align: center;
}

/* FULL SCREEN MODAL CUSTOM CLASS */

.modal-fullscreen {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.custom-alert {
  // --max-height: 300;
  --min-width: 360px;
}

.transparent-modal {
  .modal-wrapper {
    --background: transparent;
    --box-shadow: 0;
  }
}
