<div *ngIf="(inputDatas$ | async) as datas">
  <ion-row *ngFor="let data of datas">
    <ion-col class="ion-text-center">
      <div class="ion-text-center" *ngIf="datas.length <= 0">
        <ion-spinner></ion-spinner>
      </div>
      <ion-item-sliding #item>
        <ion-item detail>
          <ion-label class="ion-margin-end">
            <ion-text color="dark">
              <h2><b>{{ data['nome_progetto'] }}</b></h2>
            </ion-text>
            <ion-text color="medium">
              <p>{{ data['data_inserimento'] | date:'dd/MM/yy' }}
                - <b>UM:</b>{{ data['usermobile'] }}</p>
            </ion-text>
          </ion-label>
          <!-- <div>
              <ion-button class="round-button" shape="round" fill="outline" (click)="downloadFoto(slidingItem)">
                  <ion-icon name="cloud-download-outline" slot="icon-only" size="large"></ion-icon>
              </ion-button>
              <ion-button class="round-button" shape="round" fill="solid" (click)="enterRoom()">
                  <ion-icon name="chevron-forward" slot="icon-only" size="large"></ion-icon>
              </ion-button>
          </div> -->
        </ion-item>
        <ng-container *ngTemplateOutlet="optionsTemplate ? optionsTemplate : null; context: {data: data, item: item}">
        </ng-container>
      </ion-item-sliding>
    </ion-col>
  </ion-row>
</div>