<ion-header>
    <ion-toolbar color="primary">

        <ion-searchbar *ngIf="isSearchMode" showCancelButton="always"
        (ionInput)="onFilter($event)" (ionCancel)="isSearchMode = false" ></ion-searchbar>

        <ion-title *ngIf="!isSearchMode" >Projects</ion-title>
        <ion-buttons *ngIf="!isSearchMode" slot="primary">
            <ion-button (click)="isSearchMode = true">
                <ion-icon name="search" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="onUpdateProjects()">
                <ion-icon name="refresh" slot="icon-only"></ion-icon>
            </ion-button>
            <!-- <ion-button (click)="onCreateProjectModal()">
                <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button> -->

            <ion-button routerLink="new">

                <!-- <ion-button (click)="onNewProjectPage()"> -->
                <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <app-projects-list></app-projects-list> -->
    <ion-row *ngIf="isSearchMode">
        <ion-col  size-md="6" offset-md="3">
            <!-- <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onFilter()"
            showCancelButton="focus" (ionCancel)="isSearchMode = false"
            ></ion-searchbar> -->
            <ion-item>
                <ion-label>Cerca per:</ion-label>
                <ion-select [(ngModel)]="filter" cancelText="Annulla">
                    <ion-select-option value="usermobile">usermobile</ion-select-option>
                    <ion-select-option value="collaudatore">collaudatore</ion-select-option>
                    <ion-select-option value="progetto">progetto</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-list>
                <app-project-item *ngFor="let project of filteredProjects" [projectItem]="project"></app-project-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!isSearchMode">
        <ion-col size-md="6" offset-md="3">
            <ion-list>
                <app-project-item *ngFor="let project of projects" [projectItem]="project"></app-project-item>
            </ion-list>
        </ion-col>
    </ion-row>

    <!-- <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="project">
                <ion-label>Project</ion-label>
                <ion-icon name="location"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="discover">
                <ion-label>Offers</ion-label>
                <ion-icon name="card"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs> -->

</ion-content>
