<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <!-- <ion-searchbar *ngIf="isSearchMode" showCancelButton="always" (ionInput)="onFilter($event)"
            (ionCancel)="isSearchMode = false"></ion-searchbar> -->

        <ion-title>Lista Progetti</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="isSearchMode = !isSearchMode">
                <ion-icon name="search" slot="icon-only"></ion-icon>
            </ion-button>
            <!-- <ion-button (click)="onUpdateProjects()">
                <ion-icon name="refresh" slot="icon-only"></ion-icon>
            </ion-button> -->
            <!-- <ion-button (click)="onCreateProjectModal()">
                <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button> -->
            <ion-button routerLink="new">
                <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-row *ngIf="isSearchMode" class="ion-align-items-center">
        <ion-col size-md="5.5" offset-md="3" size-xs="10">
            <ion-searchbar [placeholder]="filter.value" (ionInput)="onFilter($event, filter.value)"
                (ionCancel)="isSearchMode = false">
            </ion-searchbar>
        </ion-col>
        <ion-col size-md="0.5" size-xs="2">
            <ion-button (click)="openSelect(filter)" fill="clear" size="small">
                <ion-icon name="filter" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-select hidden="true" #filter cancelText="Annulla" interface="popover">
                <ion-select-option value="usermobile">usermobile</ion-select-option>
                <ion-select-option value="collaudatore">collaudatore</ion-select-option>
                <ion-select-option value="progetto">progetto</ion-select-option>
            </ion-select>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-list>
                <app-project-item *ngFor="let project of filteredProjects" [projectItem]="project"></app-project-item>
                <!-- <app-project-item *ngFor="let project of projects" [projectItem]="project"></app-project-item> -->
            </ion-list>
        </ion-col>
    </ion-row>

</ion-content>