.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  animation-name: startLogo;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes startLogo{
  0%{
    transform: rotateY(800deg);
  }
  100%{
    transform: rotateY(0);
  }
}

