.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  animation-name: startLogo;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes startLogo {
  0% {
    transform: rotateY(800deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.centered {
  height: 100%;
  align-items: center;
}

.login-label {
  padding-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.room-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  background-color: var(--ion-color-light);
  padding: 24px;
  .user-guest-login-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    align-self: stretch;
    padding-top: 24px;
    background-color: var(--ion-color-light);
  }
  ion-item {
    display: block;
    --background: var(--ion-color-light);
    --padding-bottom: 8px;
    --padding-end: 5px;
    --padding-start: 5px;
    --padding-top: 8px;
    ion-label {
      margin: 0px;
    }
    ion-icon {
      font-size: 2.5rem;
      margin: 0px;
    }
    p {
      font-size: 0.9rem;
      margin: 0px;
    }
    h2 {
      font-size: 1rem;
      font-weight: 500;
      margin: 0px;
    }
    h1 {
      font-size: 1.7rem;
      font-weight: 500;
      margin: 0px;
      color: var(--ion-color-primary);
    }
  }
}
