<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img class="logo" src="../../assets/chat-operativa-round.png" alt="Logo provvisorio" /> -->
  <ion-row class="centered">
    <ion-col
      [sizeLg]="directLink ? 6 : 4"
      [offsetLg]="directLink ? 3 : 4"
      [sizeMd]="directLink ? 8 : 6"
      [offsetMd]="directLink ? 2 : 3"
      [sizeSm]="directLink ? 10 : 8"
      [offsetSm]="directLink ? 1 : 2"
      [sizeXs]="12"
    >
      <div>
        <div class="login-label">Login</div>
        <div *ngIf="directLink" class="room-details-container">
          <ion-item lines="none">
            <ion-label>
              <p>Progetto</p>
              <h2>{{roomInfo.project}}</h2>
            </ion-label>
            <ion-icon slot="end" src="assets/icons/mockup-icons/video-call.svg"></ion-icon>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <p>Sessione</p>
              <h2>{{roomInfo.session}}</h2>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <p>Organizzatore</p>
              <h2>{{roomInfo.creator}}</h2>
            </ion-label>
          </ion-item>
          <div class="user-guest-login-container">
            <ion-row style="width: 100%">
              <ion-col><app-user-login></app-user-login></ion-col>
              <ion-col><app-guest-login></app-guest-login></ion-col>
            </ion-row>
          </div>
        </div>
        <div *ngIf="!directLink">
          <app-user-login></app-user-login>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
