@import "../../../theme/tooltip-span.scss";

::-webkit-scrollbar {
    display: none !important;
}

.searchbarAdd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search-bar {
    font-size: small;
}

.head-menu {
    background-color: var(--ion-color-tertiary-tint);
}

.head-table-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    font-size: 0.9rem;
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.row-data {
    border-bottom: 1px solid rgb(158, 158, 158);
    font-size: 0.8rem;
}

.data-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.data-icon {
    font-size: 1.25rem;
}

.page-btn {
    color: var(--ion-color-primary);
}

.page-btn-number {
    color: var(--ion-color-primary);
    text-align: center;
    font-size: small;
    transform: translate(-8%, -12%);
}

.footer {
    background-color: var(--ion-color-tertiary-tint);
}

.desktop {
    height: 80%;
}
