<div class="searchbarAdd">
  <ion-searchbar class="search-bar" (ionInput)="searchStream$.next($event.target.value)"></ion-searchbar>
  <ion-button color="secondary" (click)="openGisfoUpload()">
    <ion-icon name="cloud-download-outline" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button color="secondary" (click)="openManualUpload()">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
</div>
<ion-row class="ion-align-items-center head-menu">
  <ion-col class="head-table-menu" *ngFor="let data of datas" [size]="data.size"><b>{{data.title}}</b>
    <app-order-by-button *ngIf="data.type !== 'buttons'" (event)="sortBy(data, $event)"></app-order-by-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col *ngIf="(obs$ | async) as obs" class="ion-text-center">
    <div class="ion-text-center" *ngIf="obs.length <= 0">
      <ion-spinner></ion-spinner>
    </div>
    <app-projects-table-item *ngFor="let ob of obs" [project]="ob" [datas]="datas">
    </app-projects-table-item>
  </ion-col>
</ion-row>
<app-pagination [totalPages]="totalPages" [page]="page" (event)="loadPage($event)"></app-pagination>