<ion-grid>
  <ion-row>
    <ion-col >
      <ion-button href="https://www.collaudolive.xyz:9888/admin/streams" target="_blank" expand="full">
        <ion-icon slot="start" name="tv-outline"></ion-icon>
        NodeMedia Server
      </ion-button>
    </ion-col>
    <ion-col >
      <ion-button href="http://www.eaglelive.tv:5080/#/pages/login" target="_blank" expand="full">
        <ion-icon slot="start" name="headset-outline"></ion-icon>
        AntMedia Server
      </ion-button>
    </ion-col>
    <ion-col >
      <ion-button href="https://www.collaudolive.com:9080/geoserver/web/" target="_blank" expand="full">
        <ion-icon slot="start" name="map-outline"></ion-icon>
        Geoserver
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="onRiavviaStreaming()" expand="full" >
        <ion-icon slot="start" name="videocam-off-outline" color="danger"></ion-icon>
        Riavvia Streaming
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title color="primary">Crea link nPerf</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating" class="ion-text-wrap">
              Inserisci qui le coordinate separate dalla virgola
            </ion-label>
            <ion-input type="text" [(ngModel)]="coordinate"></ion-input>
          </ion-item>
          <div class="ion-margin-vertical ion-text-right ">
            <ion-button shape="round" fill="outline" color="primary" (click)="createLink()">
              <ion-icon slot="start" name="caret-forward-circle-outline"></ion-icon>LINK
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>