<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button>
        Admin Streaming
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>
        Admin Audio
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>
        Admin Geoserver
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>
        Riavvia Streaming
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        Genera link nPerf
        <ion-button>link</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>