<div class="ion-padding">
  <!-- Reactive Form -->
  <form [formGroup]="form">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary" position="floating">Usermobile</ion-label>
          <ion-input formControlName="usermobile" type="text" autocomplete autocorrect></ion-input>
          <ion-icon name="pencil-outline" slot="end" class="ion-align-self-center"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary" position="floating">Progetto</ion-label>
          <ion-input formControlName="nome_progetto" type="text" autocomplete autocorrect></ion-input>
          <ion-icon name="pencil-outline" slot="end" class="ion-align-self-center"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary" position="floating">Collaudatore</ion-label>
          <ion-input formControlName="nome_collaudatore" type="text" autocomplete autocorrect></ion-input>
          <ion-icon name="pencil-outline" slot="end" class="ion-align-self-center"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
</div>
<div class="fixed ion-padding">
  <ion-row>
    <ion-col>
      <ion-button [disabled]="!form.valid" type="submit" color="primary" expand="block" shape="round"
        (click)="onCreateRoom()">Crea
      </ion-button>
    </ion-col>
  </ion-row>
</div>