.container {
  background: #f1f1f1;
  height: 480px;
  width: auto;
  position: relative;
}

.input:focus {
  outline: none;
}
.input {
  background: rgba(0, 0, 0, 0);

  position: absolute;
  bottom: 0.25rem;
  border-radius: 5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  padding: 0 0.25rem 0.5rem 0.25rem;
  width: 100%;

  .btn {
    background: var(--ion-color-primary);
    border-radius: 5px;

    margin: 0.8rem 0.25rem 0.25rem 0.25rem;

    color: #fff;
  }
  #txtArea {
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.81);
    width: 80%;
    height: 80%;
    font-size: 0.8rem;
    overflow-y: hidden;
  }
}

#messages {
  font-size: 0.8rem;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  li {
    padding: 0.5rem 1rem;
  }
  li:nth-child(odd) {
    background: #efefef;
  }
}
.msgArea {
  margin-top: 40px;
  max-height: 82%;
  overflow-y: scroll;
  background-color: transparent !important;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: absolute;
  color: #242424 !important;
  border-radius: 4px;
  width: calc(100% - 10px);
  height: auto;
  bottom: 60px;
  vertical-align: middle;
  line-height: 16px;
}
.gradient {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 25%;
  z-index: 2;
  background-image: linear-gradient(#f1f1f1, #f1f1f100);
}

.msgArea::-webkit-scrollbar {
  display: none !important;
}

.msgArea {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
