.header-row {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
    font-weight: 500;
}

.data-row {
    background-color: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary-contrast);
    border-bottom: 1px solid var(--ion-color-primary);
}