.searchbarAdd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 6px;
}
.search-bar {
  font-size: small;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
